<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
<!-- 조회결과를 자바객체에 담을때, 밑줄표기법의 컬럼명과 낙타표기법의 자바속성(변수)명을 자동 연결 -->
<setting name="mapUnderscoreToCamelCase" value="true"/>
</settings>

<typeAliases>
<!-- 마이바티스 설정 파일 내에서 com.exam.member.MemberVo 를 MemberVo로 대신 사용 가능-->
<typeAlias type="com.exam.myapp.member.MemberVo" alias="MemberVo"/>
<!--  패키지 태그를 사용하면, 지정한 패키지 하위의 모든 클래스들에 대한 별명을 자동 등록
별명은 패키지명을 제외한 심플클래스으로 설정-->
<!-- <package name="com.exam.member"/> -->
</typeAliases>

</configuration>